<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>599961467126-4uk92gie95ktq0mm9afpbk26vbi5u3lt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.599961467126-4uk92gie95ktq0mm9afpbk26vbi5u3lt</string>
	<key>API_KEY</key>
	<string>AIzaSyAqlEwl_NNeB1lrc_IWoCn-5KTR69tEXZs</string>
	<key>GCM_SENDER_ID</key>
	<string>599961467126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sustainify</string>
	<key>PROJECT_ID</key>
	<string>petapp-efb3b</string>
	<key>STORAGE_BUCKET</key>
	<string>petapp-efb3b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:599961467126:ios:d57845411f58face2f94d7</string>
</dict>
</plist>